 /*video background*/
 #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


 /*خاص بال p
 للنص على السلايدر*/
 .contentt {
    position: center;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px; 
}





 /*خاص بال 
 الايرادات والنفقات والمتبقي من الحساب*/
.jumbotron{
     background-image: url("../img/header-img.png");
     background-repeat : no-repeat;
     background-size: 100%;
     color: #192a56;
     /* padding-top: 190px; */
     margin-bottom: 0%;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     padding-top: 200px;
}






 /*خاص بال h1
 الايرادات والنفقات والمتبقي من الحساب*/
.myheaderstyle{
    background-color: rgba(228, 187, 226, 0.76);
    font-size: 25px;
}
.navbar-brand{
margin-right: -250px;
}





/*لتحديد نوع اللست بال 
ul*/
.ulquteremove{
    list-style-type: none;
}



/*ل ال p
لكارد الخاص بالايرادات*/
.my-text-business{
 font-size: 15px;   
 text-align:justify;
}


/*لاعطاء مسافة قبل سكشن الاتصال*/
.businessCardTopPadding{
    padding-top: 188px;
}

/*لاعطاء جمالية لالوان الكارد في الايرادات*/

.business{
    background: #fff;
    /* padding: 10px 10px; */
    border: 1px solid #ececec;
    box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, .20);
    -webkit-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55, 50, 40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55, 50, 40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55, 50, 40, .20);
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}

.business:hover{
    background: #B53471;
    color: #fff;
}

.business:hover i{
    color: #fff;
}

.business:hover h4{
    color: #fff;
}

.business:hover p{
    color: #fff;
}

.business i{
    font-size: 60px;
    color: #B53471;
    margin-bottom: 20px;
}

.business h4{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;   
}

.business p{
    font-size: 12px;
    color: #777777;
    margin-bottom: 20px;
}
/*نهاية التحكم بالوان الكارد بالايرادات*/




 /*خاص بال 
 الايرادات والنفقات والمتبقي من الحساب*/
.paddingDown{
    padding-bottom: 40px;
}




/*تحديد لون الفوتر*/
.colorlink{
        color: rgb(5, 168, 177); 
    }

  

/*اعطاء padding
 ل حول*/
#MyTeam{
        padding-top: 70px;
        padding-bottom: 70px;    
    }







/*لتحكم بتغير لون النافبار اثناء كلك عليها ايضا بلون اللنك*/
a:hover{
        color: #00000e;
       }

a{
color: #2a2f38;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {    
    color: rgb(245, 8, 118);
    }
/*نهاية التحكم بتغير لون النافبار   */



/*تحديد صورة فقرة النفقات*/
.card-img-top{
    height: 10pc;
}


/*تحديد حجم السلايد*/
.carouselSize{
    height: 608px;
    width: 350px;
    padding-left: 3pc;
    padding-top: 130px;   
}
.w-100 {
    width: 96% !important;
}
/*نهاية تحديد حجم السلايد*/





/* التحكم بشكل النافبار*/
.fixed-top {
    position: fixed;
    top: 25px;
    /* right: 5px;
    left: 5px; */
    z-index: 1030;
}







/*خاص ب بوتون العودة الى الاعلى*/
#btnScroll{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    cursor: pointer;
    padding: 7px;
}





/*خاص بالمتبقي من الحساب */
.btn-link {
    font-weight: 400;
    color: #8b046e;
    background-color: transparent;
}






 /*خاص بال 
 الايرادات والنفقات والمتبقي من الحساب*/
.display-4 {
    font-weight: 300;
    line-height: 2;
}


 /*خاص بنصوص تواصل معنا */
div.col-sm-12.col-md-12.col-lg-6{
    text-align: right;
}



/*لتحكم بالتص اسفل صور فريق العمل*/
.figure-caption {
    font-size: 90%;
    color: #d4c9d4;
}


/*لتحكم بنص سكشن تواصل معنا*/
.text-muted {
    color: #d4c9d4 !important;
}



/*لتحديد نوع الخط*/
body {
    font-family: 'El Messiri', sans-serif;
   }


